@model List<Experience>
@*EDIT VIEW Component*@

@if (Model.Any())
{
    <div class="col">
        <form id="editExpFrom" asp-action="UpdateExperiences" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="EditSuccess" data-ajax-failure="EditFailure">
            @*data-ajax-update="#exp-grp-container" < this works like $load but i get validation warnings *@
            <div asp-validation-summary="All" class="text-danger"></div>

            @for (int i = 0; i < Model.Count; i++)
            {
                <div id="experienceSection_@i" class=" experience-section m-3 p-2 bg-info">

                    <input id="experienceSectionID_@i" asp-for="@Model[i].Id" hidden type="text" />

                    <div class="mb-1">
                        <input class="experience-section-title" asp-for="@Model[i].Title" type="text" value="@Model[i].Title" />
                        <input asp-for="@Model[i].MarkForDeletion" />

                        @{ var assPointID = $"addPoint_{i}"; } @*we only want 1 btn per grp*@
                        <button id="@assPointID" class="btn btn-warning" type="button">add point </button>
                    </div>

                    @for (int j = 0; j < Model[i].ExperiencePoints.Count; j++)
                    {
                        <div class="point-section m-2 p-2 bg-dark">
                            <div class="mb-1">
                               @{ var pointSectionID = $"pointSectionID_{i}_{j}";}
                                <input id="@pointSectionID" asp-for="@Model[i].ExperiencePoints[j].Id" hidden type="text" />

                                <input asp-for="@Model[i].ExperiencePoints[j].Title" type="text" value="@Model[i].ExperiencePoints[j].Title" />
                                <input asp-for="@Model[i].ExperiencePoints[j].MarkForDeletion" />
                            </div>

                            @for (int k = 0; k < Model[i].ExperiencePoints[j].Descriptions.Count; k++)
                            {
                                <div class="desc-section p-2 bg-success">

                                    <input asp-for="@Model[i].ExperiencePoints[j].Descriptions[k].Discription" type="text" value="@Model[i].ExperiencePoints[j].Descriptions[k].Discription" />
                                    <input asp-for="@Model[i].ExperiencePoints[j].Descriptions[k].MarkForDeletion" />

                                </div>
                            }
                            @{
                                var id = $"addDesc_{i}_{j}"; @*we only want 1 btn per point*@
                            }
                            <button id="@id" class="btn btn-outline-danger" type="button">add desc </button>
                        </div>
                    }



                </div>
            }

            <button type="submit"> submit</button>

        </form>


    </div>

}
else
{
    <div>
        <h1 class="text-danger">No experience sections was found.</h1>
    </div>
}
