
@model List<ExpViewModel>
@*EDIT VIEW Component*@

@if (Model.Any())
{
    <div class="col">
        <button id="addNewExpSection">TEST ADD EXP</button>

        <form id="editExpFrom" asp-action="UpdateExperiences" method="post"
              data-ajax="true"
              data-ajax-method="post"
              data-ajax-success="EditSuccess"
              data-ajax-failure="EditFailure"
              data-ajax-update="#exp-grp-container">

            <div asp-validation-summary="All" class="text-danger"></div>

            @for (int i = 0; i < Model.Count; i++)
            {
                <div id="experienceSection_@i" class="row mb-2 experience-section p-2 bg-info">
                    <input id="experienceSectionID_@i" asp-for="@Model[i].Id" hidden type="text" />

                    <div class=" col-12 mb-1">

                        <div class="row"> <span asp-validation-for="@Model[i].Title" class=" col text-danger"></span></div>
                        <div class="row no-gutters">
                            <div class="col-5">
                                <input class="experience-section-title w-100 h-100" asp-for="@Model[i].Title" type="text" value="@Model[i].Title" />
                            </div>
                            <div class="col-1 text-center">
                                <input id="deleteExpMarkInput_@i" hidden asp-for="@Model[i].MarkForDeletion" />

                                <button id="deleteExpToggleMark_@i" type="button" class="btn btn-outline-warning">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="col">
                                @{ var assPointID = $"addPoint_{i}"; }
                                <button id="@assPointID" class="btn btn-warning" type="button">add point </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        @for (int j = 0; j < Model[i].ExpPoints.Count; j++)
                        {
                            <div class="point-section  mb-3 row bg-dark">

                                <div class="col-12 mb-3">
                                    @{ var pointSectionID = $"pointSectionID_{i}_{j}";}

                                    <input id="@pointSectionID" asp-for="@Model[i].ExpPoints[j].Id" hidden type="text" />

                                    <input asp-for="@Model[i].ExpPoints[j].PointTitle" type="text" value="@Model[i].ExpPoints[j].PointTitle" />
                                    <span asp-validation-for="@Model[i].ExpPoints[j].PointTitle" class="text-danger"></span>

                                   @{ var pointMarkId = $"deletePointMarkInput_{i}_{j}"; }
                                    <input id="@pointMarkId" hidden asp-for="@Model[i].ExpPoints[j].MarkForDeletion" />

                                    @{ var deleteBtnToggleId = $"deletePointToggleMark_{i}_{j}";  }
                                    <button id="@deleteBtnToggleId" type="button" class="btn btn-outline-warning">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                </div>
                                <div class="col-12">
                                    @for (int k = 0; k < Model[i].ExpPoints[j].Descriptions.Count; k++)
                                    {
                                        <div class="desc-section row bg-success">

                                            <div class="col-12">
                                                <input asp-for="@Model[i].ExpPoints[j].Descriptions[k].Desc" type="text" value="@Model[i].ExpPoints[j].Descriptions[k].Desc" />
                                                <span asp-validation-for="@Model[i].ExpPoints[j].Descriptions[k].Desc" class="text-danger"></span>

                                                @{ var descMarkId = $"delDescMarkInput_{i}_{j}_{k}"; }
                                                <input id="@descMarkId" hidden asp-for="@Model[i].ExpPoints[j].Descriptions[k].MarkForDeletion" />


                                                @{ var delDescBtnToggleId = $"deleteDescToggleBtn{i}_{j}_{k}"; }
                                                <button id="@delDescBtnToggleId" type="button" class="btn btn-outline-warning">
                                                    <i class="fa fa-trash"></i>
                                                </button>


                                            </div>
                                        </div>
                                    }
                                </div>

                                <div class="col-12">
                                    @{
                                        var id = $"addDesc_{i}_{j}"; @*we only want 1 btn per point*@
                                    }
                                    <button id="@id" class="btn btn-outline-danger" type="button">add desc </button>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            }

            <button type="submit"> submit</button>
        </form>
    </div>
}
else
{
    <div>
        <button id="addNewExpSection">TEST ADD EXP</button>
        <h1 class="text-danger">No experience sections was found.</h1>
    </div>
}
