@model AchievementViewModel

@{
    ViewData["Title"] = "CreateItem";
}

<h1>CreateItem</h1>

<h6>Max file size is 5Kb</h6>

<hr />
<div class="row">
    <div class="col">
        <form enctype="multipart/form-data" method="post" asp-action="CreateItem">

            <div asp-validation-summary="All" class="text-danger"></div>

            @for (int i = 0; i < Model.GalleryImagesArray.Length; i++)
            {
                <div class="custom-file mb-2">
                    <input asp-for="@Model.GalleryImagesArray[i].GalleryImage" class="form-control custom-file-input" accept=".png">
                    <label asp-for="@Model.GalleryImagesArray[i].GalleryImage" class="custom-file-label">Choose file</label>

                    @{
                        var msg = @ViewData["GalleryImage" + i];
                        if (string.IsNullOrEmpty(msg as string))
                        {
                            <h6>@msg</h6>
                        }

                    }
                </div>
            }

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainText" class="control-label"></label>
                <input asp-for="MainText" class="form-control" />
                <span asp-validation-for="MainText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderPosition" class="control-label"></label>
                <input asp-for="OrderPosition" class="form-control" />
                <span asp-validation-for="OrderPosition" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnableComments" /> @Html.DisplayNameFor(model => model.EnableComments)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnableRating" /> @Html.DisplayNameFor(model => model.EnableRating)
                </label>
            </div>
  
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });

        });
    </script>


}
