@model AchievementViewModel

@{
    ViewData["Title"] = "Create Item";
}

    @*<div class="row">
        <div class="col">
            <a class="btn btn-info" asp-action="Index"><i class="fas fa-arrow-left"></i> Back</a>
        </div>
    </div>*@

    <div class="row mt-5">
        <div class="col text-center">
            <h2 class="display-4">Create new portfolio Item</h2>
        </div>
    </div>

<div class="row">
    <div class="col">
        <form enctype="multipart/form-data" method="post" asp-action="CreateItem">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row mb-5">

                <div class="col-12 text-center mt-5">
                    <h6 class="text-info">Only image files of type PNG and size of 110KB is accepted</h6>
                </div>

                <div class="col-12 custom-file mb-2">
                    <input asp-for="@Model.Thumbnail" class="form-control custom-file-input" accept=".png">
                    <label asp-for="@Model.Thumbnail" class="custom-file-label">Choose file</label>

                </div>
                <div class="col-12 custom-file mb-2">
                    <input asp-for="@Model.GallaryImage_1" class="form-control custom-file-input" accept=".png">
                    <label asp-for="@Model.GallaryImage_1" class="custom-file-label">Choose file</label>

                </div>
                <div class="col-12 custom-file mb-2">
                    <input asp-for="@Model.GallaryImage_2" class="form-control custom-file-input" accept=".png">
                    <label asp-for="@Model.GallaryImage_2" class="custom-file-label">Choose file</label>
                </div>
                <div class="col-12 custom-file mb-2">
                    <input asp-for="@Model.GallaryImage_3" class="form-control custom-file-input" accept=".png">
                    <label asp-for="@Model.GallaryImage_3" class="custom-file-label">Choose file</label>
                </div>
                <div class="col-12 custom-file mb-2">
                    <input asp-for="@Model.GallaryImage_4" class="form-control custom-file-input" accept=".png">
                    <label asp-for="@Model.GallaryImage_4" class="custom-file-label">Choose file</label>
                </div>
                <div class= "col-12 custom-file mb-2">
                    <input asp-for="@Model.GallaryImage_5" class="form-control custom-file-input" accept=".png">
                    <label asp-for="@Model.GallaryImage_5" class="custom-file-label">Choose file</label>
                </div>
            </div>


            <div class="row">

                <div class="col-12 form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="col-12 form-group">
                    <label asp-for="Summary" class="control-label"></label>
                    @*<input asp-for="Summary" class="form-control" />*@

                    <textarea asp-for="Summary" cols="100" rows="6" class="form-control" ></textarea>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>

                @*<div class="col-12 form-group">
                    <label asp-for="MainText" class="control-label"></label>
                    <input asp-for="MainText" class="form-control" />
                    <span asp-validation-for="MainText" class="text-danger"></span>
                </div>*@

                <div class="col-12 form-group">
                    <label asp-for="OrderPosition" class="control-label">@Model.OrderPosLbl</label>
                    <span data-toggle="tooltip" data-placement="right" title="Choose the order of your items from position 1 to @Model.OrderPosMaxLimit. Items can have the same value"><i class="fas fa-question-circle"></i></span>
                    <input asp-for="OrderPosition" class="form-control" value="1" />
                    <span asp-validation-for="OrderPosition" class="text-danger"></span>
                </div>

                @*<div class="col-12  form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EnableComments" /> @Html.DisplayNameFor(model => model.EnableComments)
                        </label>
                    </div>
                    <div class="col-12 form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EnableRating" /> @Html.DisplayNameFor(model => model.EnableRating)
                        </label>
                    </div>*@

                <div class="col-12 form-group">
                    <div class="row">
                      
                        <div class="col">
                            <button type="submit" class="btn btn-block btn-success"><i class="fas fa-plus"></i> Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    @*<script src="~/js/CreatItemLogic.js"></script>*@
}
