@model EditUserInfoViewModel
@{
    ViewBag.Title = "My information";

    var avatarImgPath = "~/images/AvatarImages/" + (Model.AvatarImgPath ?? "MyResumeIcon.png");
}

    <form enctype="multipart/form-data" asp-controller="Home" asp-action="EditUserInfo" method="post">
        <div>

            <div><img src="@avatarImgPath" asp-append-version="true" /></div>

            <label asp-for="AvatarImage"></label>
            <div class=" custom-file">
                <input asp-for="AvatarImage" class="form-control custom-file-input" accept=".png">
                <label asp-for="AvatarImage" class="custom-file-label">Choose file</label>
            </div>

            <div>
                <input type="button" value="Use no avatar(Need JS)" class="btn-warning" />
            </div>

            <h1> Name </h1>

            <div>
                <h4>Summery</h4>
                <textarea asp-for="@Model.Summary" style="width:600px; height:100px;">
        @Model.Summary
        </textarea>


            </div>
            <div>
                <h4>Full Background Text</h4>

                <textarea asp-for="@Model.MainText" style="width:600px; height:200px;">
        @Model.MainText
        </textarea>


            </div>
            <div>

                <h3>Available for contact <input asp-for="@Model.AvailableForContact" type="checkbox" /> </h3>
                @if (Model.AvailableForContact)
                {

                    <h4>Available for contact</h4>
                    <input type="text" placeholder="Your Email" />
                    <input type="text" placeholder="msg here" />

                }
                else
                {
                    <h4>Currently not available for contact</h4>

                }
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button class="btn btn-primary" type="submit"> Update </button>
        </div>
        @section Scripts{

            <script>
              $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });

            });
            </script>
        }
    </form>

