@model EditUserInfoViewModel
@{
    ViewBag.Title = " Edit user information";

    var avatarImgPath = Model.AvatarImgPath ?? Model.DefaultAvatarPath;

    //if(string.IsNullOrEmpty(Model.AvatarImgPath))
    //{
    //    avatarImgPath = Model.DefaultAvatarPath;
    //}
    //else
    //{
    //    avatarImgPath = Model.AvatarImgPath;
    //}

}


    <div class="row mt-5 mb-5">
        <div class="col-12 text-center">
            <h2 class="display-4">Edit</h2>
        </div>
        <div class="col-12 text-center">
            <h2 class="display-4"> @Model.UserName </h2>
        </div>
        <div class="col-12 text-center">
            <h2 class="display-4">Information</h2>
        </div>
    </div>

<div class="row mb-5">
    <div class="col text-center">
        <img class="mb-3 img-fluid" src="@avatarImgPath" asp-append-version="true" />

        <form method="post" asp-action="RemoveAvatarImg">
            <div>
                <button type="submit" class="btn btn-danger">Remove Avatar</button>
            </div>
        </form>

        @if (ViewBag.FileSuccessMessage != null)
        {
            <div class=" mt-3 alert alert-success"> @ViewBag.FileSuccessMessage</div>
        }
    </div>
</div>


<div class=" row">
    <div class="col">
        <form enctype="multipart/form-data" asp-controller="Home" asp-action="EditUserInfo" method="post">

            <div class=" form-row mb-5">
                <div class="col-12 text-center mb-2">
                    <h6 class="text-info">Only image files of type PNG and size of 110KB is accepted</h6>
                </div>
                <div class="col-12">
                    <label asp-for="AvatarImage"></label>
                    <div class="custom-file">
                        <input asp-for="AvatarImage" class="form-control custom-file-input" accept=".png">
                        <label asp-for="AvatarImage" class="custom-file-label">Select new avatar image</label>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="form-group col">
                    <label asp-for="@Model.FirstName"></label>
                    <input asp-for="@Model.FirstName" class="form-control" placeholder="@Model.FirstName" />
                </div>
                <div class="form-group col">
                    <label asp-for="@Model.MiddleName"></label>
                    <input asp-for="@Model.MiddleName" class="form-control" placeholder="@Model.MiddleName" />
                </div>
                <div class="form-group col">
                    <label asp-for="@Model.LastName"></label>
                    <input asp-for="@Model.LastName" class="form-control" placeholder="@Model.LastName" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="@Model.Summary"></label>
                    <textarea asp-for="@Model.Summary" class="form-control" cols="100" rows="6">@Model.Summary</textarea>
                </div>
            </div>


            @*<div>
                    <h3>Available for contact <input asp-for="@Model.AvailableForContact" type="checkbox" /> </h3>
                    @if (Model.AvailableForContact)
                    {

                        <h4>Available for contact</h4>
                        <input type="text" placeholder="Your Email" />
                        <input type="text" placeholder="msg here" />

                    }
                    else
                    {
                        <h4>Currently not available for contact</h4>

                    }
                </div>*@

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-row">
                <button type="submit" class="btn btn-block btn-primary"><i class="far fa-caret-square-up"></i> Update</button>
            </div>
        </form>

    </div>
</div>


@section Scripts{

    @*<script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });

            });
        </script>*@
}

