@model UserResumeViewModel
@{
    ViewBag.Title = "User Resume";

    var avatarImgPath = Model.UserInfo.AvatarImgPath ?? Model.DefaultAvatarImage;

}

<div class="row mb-5">
    <div class="col text-md-left text-sm-center align-self-center">
        <h3 class="display-3 text-break nameTitle">@Model.UserInfo.FirstName</h3>
        <h3 class="display-3 text-break nameTitle">@Model.UserInfo.MiddelName</h3>
        <h3 class="display-3 text-break nameTitle">@Model.UserInfo.LasttName</h3>

        @if (string.IsNullOrEmpty(Model.UserInfo.FirstName) && string.IsNullOrEmpty(Model.UserInfo.MiddelName) && string.IsNullOrEmpty(Model.UserInfo.LasttName))
        {
            <h4 class="display-2 text-break text-center nameTitle">@Model.UserInfo.ApplicationUser.UserName</h4>

        }
        else
        {
            <h4 class="display-4 text-muted text-break nameTitle">@Model.UserInfo.ApplicationUser.UserName</h4>
        }
    </div>
    <div class="col-4 text-right align-self-center">

        <img class="mb-3 img-fluid" src="@avatarImgPath" alt="Avatar_@Model.UserInfo.ApplicationUser.UserName" asp-append-version="true" />

        <h5 id="userResumeSummary">@Model.UserInfo.Summary</h5>

        @if (Model.EnableOwnerOptions)
        {
            <a asp-action="EditUserInfo" asp-controller="Home">Edit Personal Information</a>
        }
    </div>

</div>


<div class="row exp-main-area">

    <div class="w-100 ">
        <h3 class="display-3 border-bottom m-0">Experience</h3>

        @if (Model.EnableOwnerOptions)
        {
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newExperienceModal">Add new exp</button>     
        }

    </div>
    <div id="exp-grp-container">
        @await Component.InvokeAsync("ExperienceDisplay", new { userId = Model.UserInfo.UserInformationId}) @*Because this renders 1 time i can then call it with ajax later using controllers*@
    </div>


    <!-- Modal -->
    <form id="newExpFrom" asp-action="CreateNewExperienceGroup" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="Success" data-ajax-failure ="Failure">

        <div class="modal fade" id="newExperienceModal" tabindex="-1" role="dialog" aria-labelledby="newExperienceModalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newExperienceModalTitle">
                            Modal title
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div id="exp-grp-modal">
                            <input type="hidden" asp-for="@Model.NewExpGrp.ExpUserInfoID" value="@this.ViewContext.RouteData.Values["id"].ToString()" />

                            <label asp-for="@Model.NewExpGrp.Title">Grp Title</label>
                            <input asp-for="@Model.NewExpGrp.Title" type="text" value="" placeholder="Grp title" />
                            <span asp-validation-for="@Model.NewExpGrp.Title" class="text-danger"></span>

                            @*<span asp-validation-for="@Model.NewExpGrp.ExpPoints" class="text-danger TESTING"></span>*@ @*we need to check if the array has at least 1 element*@

                            <button id="addExpPointBtn" type="button">Add point</button>
                            <button id="removeExpPointBtn" type="button">remove point</button>

                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>

                    </div>
                    <div class="modal-footer">



                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" />

                        @*<button onclick="CreateExp()" class="btn btn-primary">Create</button>*@
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>



@if (@Model.Achievements.ToList().Any())
{
    <div id="item_container" class=" row border-top">

        @foreach (var achievement in @Model.Achievements)
        {
            var thumbNail = string.IsNullOrEmpty(achievement.ItemGalleryImageFilePaths[0].GalleryImageFilePath) ? Model.DefaultGalleryImage : achievement.ItemGalleryImageFilePaths[0].GalleryImageFilePath;

            <div class="col mb-4">

                <div class="card h-100 mx-auto text-center item-card">

                    <img class="card-img-top item-card-img" src="@thumbNail" alt="User item thumbnail" asp-append-version="true" />

                    <a asp-controller="Home" asp-action="DisplayItem" asp-route-id="@achievement.AchievementId">
                        <div class="item-fade-In">
                            <h4 id="titleTxt_@achievement.AchievementId" class="Item-title-txt">@achievement.Title</h4>
                        </div>
                    </a>

                    <div class="card-img-overlay ">

                        <div id="confirmTxt_@achievement.AchievementId" class="alert alert-danger item-delete-confirm-txt" role="alert">

                            <h3 class="alert-heading">Delete Item</h3>
                            <p>Are you sure you want to delete this item?</p>
                        </div>
                    </div>

                    @if (Model.EnableOwnerOptions)
                    {
                        <div class="card-footer item-card-footer">
                            <div class="row no-gutters h-100">

                                <div id="editCol_@achievement.AchievementId" class="col bg-info border-right">
                                    <a id="editBtn_@achievement.AchievementId" class="p-3 item-options item-edit-link" asp-action="EditItem" asp-route-id="@achievement.AchievementId">
                                        <span class="align-middle"> <i class="fas fa-edit"></i> Edit </span>
                                    </a>
                                </div>

                                <div class="col align-items-center justify-content-center bg-warning">
                                    <form class="h-100" asp-action="DeleteItem" asp-route-id="@achievement.AchievementId" method="post">
                                        <div id="deleteSpan_@achievement.AchievementId" class=" item-options" onclick="confirmDelete('@achievement.AchievementId', true)">
                                            <div class="p-3">
                                                <i class="fas fa-trash-alt "></i> Delete
                                            </div>
                                        </div>

                                        <div id="confirmDeleteSpan_@achievement.AchievementId" class="h-100" style="display:none">

                                            <div class="row no-gutters h-100">
                                                <div class="col">
                                                    <button class="bg-danger item-options item-delete-yes-no-btns" type="submit"><i class="fas fa-check-square"></i> Yes</button>
                                                </div>
                                                <div class="col" onclick="confirmDelete('@achievement.AchievementId', false)">
                                                    <button class="bg-primary item-options item-delete-yes-no-btns" type="button"><i class="fas fa-times-circle"></i> No</button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>


            @*<div class="col mb-3 d-flex justify-content-center">
                <div class="item ">*@


            //var thumbNail = achievement.ItemGalleryImageFilePaths[0].GalleryImageFilePath ?? Model.DefaultGalleryImage;


            @*<a asp-action="DisplayItem" asp-route-id="@achievement.AchievementId">
                    <img class="item-card-img" src="@thumbNail" alt="Item thumbnail" asp-append-version="true" />
                </a>*@

            @*@if (Model.EnableOwnerOptions)
                {
                    <div class="itemEditBtn">

                        <a id="editBtn_@achievement.AchievementId" class="btn btn-info" asp-action="EditItem" asp-route-id="@achievement.AchievementId">
                            Edit Item
                        </a>
                    </div>

                    <div class="itemDeleteBtn">
                        <form asp-action="DeleteItem" asp-route-id="@achievement.AchievementId" method="post">

                            <span id="deleteSpan_@achievement.AchievementId">
                                <span class="btn btn-danger"
                                      onclick="confirmDelete('@achievement.AchievementId', true)">Delete</span>
                            </span>


                            <span id="confirmDeleteSpan_@achievement.AchievementId" style="display:none">
                                <span>Are you sure you want to delete?</span>
                                <button type="submit" class="btn btn-danger">Yes</button>
                                <span class="btn btn-primary"
                                      onclick="confirmDelete('@achievement.AchievementId', false)">No</span>
                            </span>

                        </form>
                    </div>
                }*@

            @*<div class="itemSummeryFadeIn">
                    <h3>@achievement.Title</h3>
                </div>*@


            @*<img src="" alt="Alternate Text" />*@

            @*</div>
                </div>*@
        }

    </div>

    <div>
        @if (Model.EnableOwnerOptions)
        {
            <a asp-action="CreateItem" asp-controller="Home">Add New Item</a>
        }
        <a href="#">Show more</a>
    </div>
}
else
{
    <h3>No items has been added to this resume</h3>
    @if (Model.EnableOwnerOptions)
    {
        <a asp-action="CreateItem" asp-controller="Home">Create New Item</a>
    }
}






@section Scripts {

    <script src="~/js/SiteScripts.js"></script>
    <script src="~/js/ResumeUserControls.js"></script>

    <script>
        Success = OnSuccsessfulCreateEXP;
        Failure = OnFailureCreateEXP;
    </script>

}


