@model UserResumeViewModel
@{
    ViewBag.Title = "User Resume";
    //var avatarImgPath = "~/images/AvatarImages/" + (Model.UserInfo.AvatarImgPath ?? "../MyResumeDefaultAvatar.png");
}

<div class="row mb-5">

    <div class="col text-md-left text-sm-center align-self-center">
        <h3 class="display-3 text-break nameTitle">@Model.UserInfo.FirstName</h3>
        <h3 class="display-3 text-break nameTitle">@Model.UserInfo.MiddelName</h3>
        <h3 class="display-3 text-break nameTitle">@Model.UserInfo.LasttName</h3>

        @if (string.IsNullOrEmpty(Model.UserInfo.FirstName) && string.IsNullOrEmpty(Model.UserInfo.MiddelName) && string.IsNullOrEmpty(Model.UserInfo.LasttName))
        {
            <h4 class="display-2 text-break text-center nameTitle">@Model.UserInfo.ApplicationUser.UserName</h4>

        }
        else
        {
            <h4 class="display-4 text-muted text-break nameTitle">@Model.UserInfo.ApplicationUser.UserName</h4>
        }
    </div>
    <div class="col-4 text-right align-self-center">

        <img class="mb-3" src="@Model.UserInfo.AvatarImgPath" alt="Avatar_@Model.UserInfo.ApplicationUser.UserName" asp-append-version="true"/>

        <h5>@Model.UserInfo.Summary</h5>

        @if (Model.EnableOwnerOptions)
        {
            <a asp-action="EditUserInfo" asp-controller="Home">Edit Personal Information</a>
        }
    </div>

</div>

@*@if (@Model.Achievements != null)*@
@if (@Model.Achievements.ToList().Count > 0)
{
    <div id="itemContainer" class=" row border-top">

        @foreach (var achievement in @Model.Achievements)
        {
            <div class="col d-flex justify-content-center bg-danger">
                <div class="item ">

                    @if (Model.EnableOwnerOptions)
                    {
                        <div class="itemEditBtn">  @*d-flex justify-content-end align-items-end*@
                            <a asp-action="EditItem" asp-route-id="@achievement.AchievementId">Edit Item</a>
                        </div>
                    }


                    <div class="itemSummeryFadeIn">
                        <h3>@achievement.Title</h3>
                    </div>

                    @*<img src="" alt="Alternate Text" />*@

                </div>
            </div>

        }

    </div>

    <div>
        @if (Model.EnableOwnerOptions)
        {
            <a asp-action="CreateItem" asp-controller="Home">Create New Item</a>
        }
    </div>
}
else
{
    <h3>No items has been added to this resume</h3>
    @if (Model.EnableOwnerOptions)
    {
        <a asp-action="CreateItem" asp-controller="Home">Create New Item</a>
    }
}



