@model UserResumeViewModel
@{
    ViewBag.Title = "User Resume";
}

<div>
    <h1>User Info</h1>
    @*<h4>@Model.UserInfo.UserName</h4>*@
    <h5>@Model.UserInfo.Summary</h5>

    @if (Model.EnableOwnerOptions)
    {
        <a asp-action="EditUserInfo" asp-controller="Home">Edit Personal Information</a>
    }
</div>

<div>
    <h1>Item list</h1>

    @if (@Model.Achievements != null)
    {
        @foreach (var achievement in @Model.Achievements)
        {
            <div>
                <h3>@achievement.Title</h3>

                @if (Model.EnableOwnerOptions)
                {
                    <a asp-action="EditItem" asp-route-id="@achievement.AchievementId">Edit Item</a>
                }
            </div>

        }


        @if (Model.EnableOwnerOptions)
        {
            <a asp-action="CreateItem" asp-controller="Home">Create New Item</a>
        }

    }
    else
    {
        <h3>No items has been added to this resume</h3>
        @if (Model.EnableOwnerOptions)
        {
            <a asp-action="CreateItem" asp-controller="Home">Create New Item</a>
        }
    }


</div>

