@model Skill

@*EDIT SKILL DISPLAY*@
<div class="col">
    <form id="skillEditForm_@Model.Index" class="editSkillForm" asp-action="EditSkill" method="post"
          data-ajax="true" data-ajax-method="post" data-ajax-success="EditSkillSuccess" data-ajax-failure="EditSkillFailure" data-ajax-update="#skillDisplayContainer">
        @*data-ajax-update="#skillDisplayContainer"*@
        @*data-ajax-update="#skill_@Model.Index"*@

        <input asp-for="@Model.ApplicationUserId" hidden value="@Model.ApplicationUserId" />
        <input asp-for="@Model.Id" hidden value="@Model.Id" />

        <input id="skillLevel_@Model.Index" hidden asp-for="@Model.Level" value="@Model.Level" />
        <span class="text-danger" asp-validation-for="@Model.Level"></span>



        <div class="row no-gutters">
            <div class="col-12 col-md-3 mb-4">
                <input id="skillTagName_@Model.Index" class="skill-tag-name-input" asp-for="@Model.TagName" value="@Model.TagName" />
                <span class="text-danger" asp-validation-for="@Model.TagName"></span>
            </div>
            <div class="col p-2 mb-4">
                <select id="rating_@Model.Index">
                    @for (int i = 1; i <= Model.ProficiencyLevelsText.Length; i++)
                    {
                        if (i == Model.Level)
                        {
                            <option selected value="@i">@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>
            <div class="col-12 col-md-1 mb-2 text-center">
                <button id="calldeletModal_@Model.Index" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteSkillModal" data-id="@Model.Id" data-tag-name="@Model.TagName">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>

        @*<button class="btn btn-success" type="submit">Edit</button>       !  using .blur on input tag  and submit on when person loses focus on input field*@
    </form>
</div>
@*<div class="col text-center">
        <button id="calldeletModal_@Model.Index" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteSkillModal" data-id="@Model.Id" data-tag-name="@Model.TagName">
            <i class="fa fa-trash"></i>
        </button>

    </div>*@